html{
    height: 100%;
    }

body{
    min-height: 100%;
    margin: 0;
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    }      

/* loader */
#loadpage{
    position: fixed;
    background-color:#AABFB8;
    width: 100%;
    height: 100%;
    z-index: 1000000000;
}
    
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 125px;
    height: 125px;
    margin: -62.5px 0 0 -62.5px; 
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #37749c;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
    }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A4B1A0;
    border-radius: 3px;
  }

/* Selection Color */

::selection {
    background: #b2cac5; /* WebKit/Blink Browsers */
  }
::-moz-selection {
    background: #b2cac5; /* Gecko Browsers */
  }
  

body > header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
  }

p + p {
    margin-top: 10px;
} 

header{
    background: #AABFB8;
    position: sticky;
    position: -webkit-sticky;
    top: 0px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #43434f;  
}

a, a:visited{
    color: #157eaf;
    /* why iis github so hard */
}

a:hover{
    color: #2b596e;
}

header a, header a:hover, header a:visited, h1 a{
    text-decoration: none;
    -webkit-text-decoration: none;
    color: hsl(240, 8%, 29%);
}

.nav_links{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: right;
    line-height: 1.5;
    justify-content: end;
    align-items: center;
}

#home{
    grid-column: 1 / -1;
} 

.nav_item a{
    margin-left: 20px; 
    /* text-decoration: none; */
    /* -webkit-text-decoration: none; */
    color: #414147;
    font-size: 0.9em;
} 

.nav_item a:hover{
    text-decoration-line: underline;
    text-decoration-color: #414147;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: #414147;
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-thickness: 3px; 
}

#current{
    color: #2c2c74;
    text-decoration-line: underline;
    text-decoration-color: #2c2c74;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: #2c2c74;
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-thickness: 3px; 
}

header > h1{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: auto 0px;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100000;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
    -webkit-text-decoration-style: solid;
  }

/* Landing Page */

#flip-container{
    height: 100vh;
    padding: 50px;
}

#flip-card {
    background-color: transparent;
    max-width: 750px;
    height: 75%;
    top: 25%;
    border: 1px solid #f1f1f1;
    margin: 50px auto;
  }
  
  /* This container is needed to position the front and back side */
  #flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  #flip-card:hover #flip-card-inner,
  #flip-card:focus #flip-card-inner{
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  #flip-card-front, #flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 5px;
  }

  #flip-card-front img {
    border-radius: 5px;
  }
  
  /* Style the front side (fallback if image is missing) */
  #flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  #flip-card-back {
    background-color: #517470;
    color: white;
    transform: rotateY(180deg);
    overflow-y: scroll;
    font-size: 1.15em;
    line-height: 1.5em;
    text-align: left;
  }

  #flip-card-back h2{
      margin-bottom: -30px;
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-color: #fff;
      text-decoration-thickness: 0.15em;
      text-transform: uppercase;
      -webkit-text-decoration-line: underline;
      -webkit-text-decoration-style: solid;
      -webkit-text-decoration-color: #fff;
      -webkit-text-decoration-thickness: 0.15em;
      font-size: 2em;
  }

  #flip-card-front img{
      height: 100%;
      width: 100%;
      object-fit: cover;
  }

 #flip-card-back h2{
      padding: 30px;
      margin-bottom: auto;
  }

  #flip-card-back p{
      padding: 10px 30px;
  }

  #pls-hover{
      margin-top: 5px;
      padding: 10px;
      font-size: 0.75em;
  }

  .hidden{
    display: none;
}

.landing{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 50px 0px;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
    align-content: center; 
    margin: auto;
    max-width: 700px;
}

.text-block-img > img{
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
}

.text_block{
    background: rgba(255, 255, 255, 1.0);
    padding: 20px;
    border-radius: 5px;
    line-height: 1.5;
}

/* container thing */

.container{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    justify-content: center;
    align-self: center;
    margin: 50px;
    border-radius: 5px;
    padding: 0px;
}

/* rabbit holes */

.hole{
    background: rgba(255, 255, 255, 0.85);
    margin: 50px 50px 50px 50px;
    padding: 20px;
    width: inherit;
    border-radius: 5px;
}

 .hole li, .gallery-text-box li, .project-item li{
    line-height: 1.5em;
} 
s
.hole ul, .book-item ul, .project-item ul{
    margin-left: 20px;
    list-style: circle;
}

.hole ul ul{
    margin-left: 20px;
    list-style: circle;
}

.hole ul ul li{
    padding: 4px;
}

.hole h2, .gallery-text-box h2, .contact-header, .text_block h2,  .book-item h2, h2.project-item{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
    text-decoration-line: underline;
    text-decoration-color: #adc0c3;
    text-decoration-style: solid;
    text-decoration-thickness: 3px; 
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: #adc0c3;
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-thickness: 3px; 
    text-transform: uppercase;
    padding-bottom: 5px; 
    line-height: 1.5em;

}

.text_block h2{
    font-size: 1.5em;
}

.hole li ul a, .hole li ul a:visited{
    color: #000;
    text-decoration: none;
    -webkit-text-decoration: none;
}

.hole li ul a:hover{
    color: rgb(70, 79, 167);
}

/* Styling Contact Form */
.contact-header{
    background: #fff;
    margin: 50px 50px -42.5px 50px;
    padding: 20px;
    border-radius: 5px
}

.form-box{
    width: inherit;
    height: 100%;
    margin: 50px;
    padding: 20px;
    background-color: #fff;
    align-self: center;
    border-radius: 5px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #2b6e8d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    /* fixing weird styling in safarai */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  input[type=submit]:hover {
    background-color: #148dc5;
  }

  #additional-contact{
      margin-top: -40px;
      font-size: 0.85em;
  }

  #additional-contact p{
      margin-top: 0px;
  }

  #message{
      height: 80px;
  }

  /* Projects */

  .project-item{
    padding: 20px; 
    background: #fff;
    width: inherit;
    max-width: 600px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 50px;
  }  

  h2.project-item{ 
      margin-bottom: 7.5px;
      padding: 20px 20px 20px 20px;
  } 

.project-item ::marker{
    list-style: none;
}

#slideshow{
    margin-top: -42.5px;
}

#slideshow p{
    margin-bottom: 15px;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-sizing:border-box;
}

/* Hide the images by default */
.mySlides {
    display: none;
    box-sizing:border-box;
}

.mySlides img{
    width: 100%;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #00ddff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Caption text */
.text {
    font-size: 15px;
    padding: 10px 10px;
    position: absolute;
    margin-top: -5px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */

#dots{
    text-align: center;
    margin-top: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

  .gallery-container{
      display: grid;
      grid-template-columns: 80%;
      justify-content: center;
      align-items: center;
      margin: 50px auto;
  }

  .gallery-container .gallery-text-box:nth-of-type(2){
    border-top: 5px solid #adc0c3 ; 
  }

  #parallax{
    margin-bottom: -5px;
    background-image: url("../images/manistee.jpg");

    /* Set a specific height */
    min-height: 80px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gallery-img, .gallery-text-box {
      background: #fff;
      padding: 10px; 
      margin: 10px;
      border-radius: 5px;
  }

  .gallery-text-box{
      display:flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-content: center;
  }

  .gallery-img{
      position: relative;
  }

  .gallery-img:hover{
      opacity: 0.25;
      background-color: rgb(255, 255, 255);
      -webkit-transition: background-color 2s ease-out;
      -moz-transition: background-color 2s ease-out;
      -o-transition: background-color 2s ease-out;
      transition: background-color 2s ease-out;
  }

  #haley{
      align-self: center;
      border-radius: 50%;
      height: 150px;
      margin-bottom: 10px;
      margin-top: -75px;
      transition: transform .7s ease-in-out;
  }

  #haley:hover{
      transform:rotate(360deg);
  }

  #haley-facts{
      text-align:center;
      align-self: flex-start;
  }

  #haley-facts ul{
      margin-top: -7.55px;
  }

  #bio{
      padding: 15px;
      margin-top: -5px;
      text-align: left;
      justify-content: left;
  }

/* Footer */
footer{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    color: #43434f;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
  }


  /* book page stuff who knows */

  .books-container{
      display: grid;
      /* grid-template-rows: repeat(12, content); */
      grid-template-columns: 80%;
      margin-top: 50px;
      justify-content: center;
      grid-gap: 50px;
  }

  .book-item{
      display: flex; 
      flex-direction: column;
      /* align-items: center;
      justify-items: center;  */
      background: #fff;
      border-radius: 5px;
      padding: 20px; 
      margin: auto;
  }

  .book-item:nth-child(12){
      margin-bottom: 50px;
  }

  .book-item img{
      max-height: 250px;
      align-self: center;
  }

  .book-info h2, .book-info p{
      align-self: flex-start;
      justify-self: right;
      line-height: 1.5em;
  }

  .book-info p{
      font-size: 0.8em;
  }

  .book-info h2{
    text-align: center;
}

  .book-info{
      padding: 15px;

  }


@media screen and (min-width: 750px){

    /* modify header */

    header{
        padding: 20px;
    }

    .nav_links{
        display: flex; 
        flex-wrap: wrap;
        align-items: left;
        justify-content: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav_links li{
        justify-items: flex-end;
    }

    .nav_item a{
        font-size: 1.05em;
        line-height: 1.5em;
    }

    header > h1{
        font-size: 2em;
    }

    /* modify about page */
    .gallery-container{
        grid-template-columns: 40% 40%;
        max-width: 800px;
    }

    .gallery-text-box{
        grid-column: 1 / -1;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #haley{
        height: 200px;
        margin-top: -100px;
    }

    .haley-facts h2, .haley-facts ul li{
        text-align: left;
    }

    #bio{
        text-align: left;
    }

    /* modify books page */

    .book-item{
        flex-direction: row;
        max-width: 700px;
        font-size: 1em;
    }

    .book-item h2{
        text-align: left;
    }

    .book-info{
        margin-left: 10px;
    }

    .book-info p{
        font-size: 1em;
    }

    /* modify contact page */

    .contact-container{
        max-width: 700px;
        margin: auto;
    }

} 

@media screen and (min-width: 1150px){

    /* modify nav */
    header{
        padding: 30px;
    }

    .nav_item a{
        font-size: 1.1em;
        line-height: 1.6em;
    }

    header > h1{
        font-size: 2.5em;
    }

    /* modify landing page */

    #pls-hover{
        font-size: 1em;
    }

    /* modify about page */
    .gallery-container{
        grid-template-columns: repeat(3, 33%);
        max-width: 1000px;
    }

    .gallery-text-box{
        justify-content: center;
    }

    .gallery-text-box h2, .gallery-text-box ul{
        text-align: left;
    }
    
    .gallery-text-box h2{
        font-size: 1.5em;
    }

    .gallery-text-box ul li, #bio{
        font-size: 1.05em;
    }

    #bio p{
        padding: 10px;
    }

    #parallax{
        min-height: 120px;
    }

    #haley{
        height: 250px;
        margin-right: 50px;
    }

    .gallery-img:hover{
        border-top-right-radius: 100px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 0px;
    }

    /* #projects-container{
        margin: 0px;
    } */

    .project-container{
        display: grid;
        grid-template-columns: 2.5fr 7fr;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        max-width: 900px;
        margin: auto;
    }

    h2.project-item{
        grid-column: 1 / span 1;
        width: 100%;
        align-self: start;
        margin-top: 0px;
    }

    div.project-item{
        /* grid-row: 2 / 3; */
        grid-column: 2 / 4;
        width: 100%;
        align-self: start;
        font-size: 1.15em;
        margin-left: 50px;
        margin-bottom: 100px;
    }

    #slideshow-container{
        grid-template-rows: auto auto;
    }


    #slideshow{
        grid-row: 2 / 3; 
        margin-top: -90px;
    }




    /* modify books page */

    .books-container{
        grid-template-columns: 40% 40%;
        /* grid-template-rows: repeat(6, auto); */
        margin-bottom: 50px;
        align-items: flex-start;
        grid-gap: 60px;
    }

    .book-item h2{
        text-align: center;
    }

    .book-item{
        display: block;
        flex-direction: column;
        text-align: center;
        max-width: 500px;
        margin-top: 0px;
    }

    #rabbit-holes, #on-deck{
        grid-row: 1 / 2;
        width: 100%;
        text-align: left;
    }

}

/* animations */
  @-webkit-keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

 @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    } 

/* prefers reduced motion */

@media screen and (prefers-reduced-motion: reduce){
    #haley:hover{
        transform: none;
    }

    #loader, #loadpage{
        display: none;
    }

    #parallax{
        margin-bottom: -5px;
        background-image: url("../images/manistee.jpg");
        background-attachment: scroll;
    }

    .fade {
        -webkit-animation: none;
        animation: none;
    }


} 