html{
    height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}   

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A4B1A0;
    border-radius: 3px;
  }

/* Selection Color */

::selection {
    background: #b2cac5; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #b2cac5; /* Gecko Browsers */
  }
  

  body > header{
      position: sticky;
      top: 0;
      left: 0;
      z-index: 100;

  }

header{
    background: #AABFB8;
    position: sticky;
    position: -webkit-sticky;
    top: 0px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #43434f;  
}

a, a:visited{
    color: #3b7f9e;
}

a:hover{
    color: #2b596e;
}

#landing-img{   
    background-position: center;
}

header a, header a:hover, header a:visited, h1 a{
    text-decoration: none;
    -webkit-text-decoration: none;
    color: hsl(240, 8%, 29%);
}


.nav_links{
    text-align: right;
    line-height: 1.15;
}

.nav_item a{
    margin-left: 20px; 
    text-decoration: none;
    -webkit-text-decoration: none;
    color: #43434f;
    font-size: 0.8em;
} 

.nav_item a:hover{
    -webkit-text-decoration: underline;
    text-decoration: underline;
    color: #43434f;
}

#current{
    color: #2d2d6e;
    text-decoration: underline 2px solid #2d2d6e;
    -webkit-text-decoration: underline 2px solid #2d2d6e;
}

header > h1{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: auto 0px;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100000;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
    -webkit-text-decoration-style: solid;
  }

/* Landing Page */


.landing{
    display: grid;
    grid-template-rows: 400px 50%;
    grid-template-columns: 40% 40%;
    grid-gap: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
    align-content: center; 
}

.text_block_img{
    grid-column: 1 / 3; 
    grid-row: 1 / 2; 
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
}  

.text_block_img img{
    width: 100%;
}

.text_block{
    grid-column: 1 / 3;
    grid-row: 2 / -1; 
    background: rgba(255, 255, 255, 1.0);
    padding: 20px;
    border-radius: 5px;
    line-height: 1.5;
    height: auto;
}

/* landing flip card */

.landing-flip-card{
    background: transparent;
    grid-row: 1/2;
    grid-column: 1/3;
}

.landing-inner{
    position: relative;
    width: 100%; 
    height: 100%; 
    text-align: center;
    transition: transform 0.8s;
}

.landing-flip-card:hover .landing-inner {
    transform: rotateY(180deg);
  }

/* Position the front and back side */
.landing-front, .landing-back {
    position: absolute;
    width: 100%; 
    height: 100%; 
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 5px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .landing-front {
    background-color: #bbb;
    color: black;
    transform: rotateY(0deg);
  }

  .landing-front img{
      border-radius: 5px;
      width: 100%;
      height: 100%;
  }
  
  /* Style the back side */
  .landing-back {
    background-color: rgb(0, 0, 0);
    color: white;
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
  }

/* container thing */

.container{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    justify-content: center;
    align-self: center;
    margin: 50px;
    border-radius: 5px;
    padding: 0px;
}

/* rabbit holes */

.hole{
    background: rgba(255, 255, 255, 0.85);
    margin: 50px 50px 50px 50px;
    padding: 20px;
    width: inherit;
    border-radius: 5px;
}

 .hole li, .gallery-text-box li{
    line-height: 1.5em;
} 
s
.hole ul, .book-item ul {
    margin-left: 20px;
    list-style: circle;
}

.hole ul ul{
    margin-left: 20px;
    list-style: circle;
}

.hole ul ul li{
    padding: 4px;
}

.hole h2, .gallery-text-box h2, .contact-header, .text_block h2,  .book-item h2{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
    text-decoration: underline #adc0c3 solid 3px;
    -webkit-text-decoration: underline #adc0c3 solid 3px;
    text-transform: uppercase;
    padding-bottom: 10px;
    line-height: 1.5em;

}

.text_block h2{
    font-size: 1.5em;
}

.hole li ul a, .hole li ul a:visited{
    color: #000;
    text-decoration: none;
    -webkit-text-decoration: none;
}

.hole li ul a:hover{
    color: rgb(70, 79, 167);
}

/* Styling Contact Form */

.contact-header{
    background: #fff;
    margin: 50px 50px -42.5px 50px;
    padding: 20px;
    border-radius: 5px
}


.form-box{
    width: inherit;
    height: 100%;
    margin: 50px;
    padding: 20px;
    background-color: #fff;
    align-self: center;
    border-radius: 5px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4c90af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
  }
  
  input[type=submit]:hover {
    background-color: #386a81;
  }

  #additional-contact{
      margin-top: -40px;
      font-size: 0.75em;
  }



  /* Projects */

  #projects{
      background: transparent;
  }

  .project-item{
    padding: 20px; 
    background: #fff;
    width: inherit;
    border-radius: 5px;
    margin-bottom: 50px;
  }  

  h3.project-item{
      font-family: 'Raleway', sans-serif;
      margin-bottom: 7.5px;
      padding: 20px 20px 20px 20px;
      text-transform: uppercase;
  }

  /* About Page */

  .gallery-container{
      display: grid;
      grid-template-columns: 40% 40%;
      justify-content: center;
      align-items: center;
      margin: 50px 0px;
  }

  .gallery-text-box{
      grid-column: 1 / 3;
  }

  .gallery-container .gallery-text-box:first-of-type{
    border-top: 5px solid #adc0c3 ; 
  }

  .gallery-img, .gallery-text-box {
      background: #fff;
      padding: 10px; 
      margin: 10px;
      border-radius: 5px;
  }

  .gallery-text-box{
      display:flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-content: center;
  }

  .gallery-img{
      position: relative;
  }

  .gallery-img:hover{
      opacity: 0.25;
      background-color: rgb(255, 255, 255);
      -webkit-transition: background-color 2s ease-out;
      -moz-transition: background-color 2s ease-out;
      -o-transition: background-color 2s ease-out;
      transition: background-color 2s ease-out;
  }
  /* hover feature in development */
  
/* .gallery-img span{
    display: none;
    position: relative;
    padding: 10px;
    margin: 10px;
    background: rgba(175, 224, 208, 0.8);
    width: fit-content;
  }

  .gallery-img:hover span{
      display: block;
      height: fit-content;
      text-align: center;
  }  */

  #haley{
      align-self: center;
      border-radius: 50%;
      height: 150px;
      margin-bottom: 10px;
      margin-top: -50px;
      transition: transform .7s ease-in-out;
  }

  #haley:hover{
      transform:rotate(360deg);
  }

  #haley-facts{
      text-align:center;
      align-self: flex-start;
  }

  #haley-facts ul{
      margin-top: -7.55px;
  }

  #bio{
      padding: 15px;
      margin-top: -5px;
  }

/* iframes */

iframe{
    border: none;
    height: 100%;
    /* not showing on mobile view */
    display: none;
}
 
/* Footer */
footer{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    color: #43434f;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
  }


  /* book page stuff who knows */

  .books-container{
      display: grid;
      grid-template-rows: repeat(12, auto);
      grid-template-columns: 80%;
      margin-top: 50px;
      justify-content: center;
      align-items: center;
      grid-gap: 50px;
  }

  .book-item{
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      background: #fff;
      border-radius: 5px;
      padding: 20px; 
  }

  .book-item:nth-child(12){
      margin-bottom: 50px;
  }

  .book-item img{
      max-height: 250px;
      align-self: center;
  }

  .book-info h2, .book-info p{
      align-self: flex-start;
      justify-self: right;
      line-height: 1.5em;
  }

  .book-info p{
      font-size: 0.8em;
  }

  .book-info h2{
    text-align: center;
}

  .book-info{
      padding: 15px;

  }

  @media screen and (prefers-reduced-motion: reduce){
    #haley:hover{
        transform: none;
    }
} 
}